body {
    color: #256993;
    background-color: #F3E9DE;
    display: grid;
    grid-template-columns: 20% 1fr;
    margin: 0;
}

/* Article Structure
------------------------------------ */
.aside {
    flex: 0 1 20%;
    background-color: #FAF4EC;
}

.main {
    flex: 0 1 auto;
    text-align: center;
}

/* Aside Nav
------------------------------------ */
.aside_heading {
    text-align: center;
}