body {
    color: #256993;
    background-color: #F3E9DE;
    display: grid;
    grid-template-columns: 20% 1fr;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}


/* Article Structure
------------------------------------ */
.aside {
    flex: 0 1 20%;
    background-color: #FAF4EC;
}

.main {
    flex: 0 1 auto;
    text-align: center;
    height: 100vh;
}

/* Aside Nav
------------------------------------ */
.aside_heading {
    text-align: center;
}

.aside_list {
    font-family: 'Golos Text', sans-serif;
    list-style-type: square;
}

/* Main menu 
------------------------------------ */
.main_menu {
    display: flex;
    justify-content: right;
    margin-right: 15px;
}

.main_menu p {
    font-family: 'Golos Text', sans-serif;
    padding: 5px;
}

/* Button
------------------------------------ */
button {
    border-radius: 12px;
    padding: 15px;
    color: white;
    font-size: 10px;
    border: 0;
}

/* Button Option 1
------------------------------------ */
.button_option_1 {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}

.button_newnote {
    background-color: #375F68;
}

.button_darktheme {
    background-color: #56536A;
}

/* Placeholder
------------------------------------ */
.placeholder_div {
    display: flex;
    margin: 10px 15px;
}

.placeholder_textarea {
    width: 100%;
    height: 10em;
    background-color: #FAF4EC;
    border: 3px solid #88A0FF;
    padding: 10px;
}

/* Button Option 2
------------------------------------ */
.button_option_2 {
    display: flex;
    justify-content: right;
    margin: 0 15px;
}

.button_option_2 button {
    margin-left: 10px;
}

.button_save {
    background-color: #375f68;
}

.button_cancel {
    background-color: #9b332c;
}

/* Footer
------------------------------------ */
footer {
    width: 80%;
    position: absolute;
    bottom: 0;
}

/* Mobile Size
------------------------------------ */
@media screen and (max-width: 500px) {
    body {
        grid-template-columns: 0 1fr;
    }
    .aside {
        visibility: hidden;
    }
    footer {
        width: 100%;
    }
}