body {
    color: #256993;
    background-color: #FAF4EC;
}

/* Article Structure
------------------------------------ */
article {
    display: flex;
}

.flex_item1 {
    flex: 0 1 20%;
}

.flex_item2 {
    flex: 0 1 auto;
}